$offwhite: #fffafa;

#about {
  position: relative;
  height: 110vh;
  width: 100%;

  #about-container {
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
  }

  #about-content {
    border: 2px solid blue;
    p {
      padding-left: 60px;
      font-style: italic;
    }
  }

  #img-container {
    align-self: center;
    img {
    width: 15em;
    border-radius: 50%;
    }
  }
}