$offwhite: #fffafa;

#about {
  position: relative;
  min-height: 110vh;
  width: 100%;
  h2 {
    padding-top: 5rem !important
  }


  #about-container {
    border: 2px solid yellow;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1 2;
  

  #about-content {
    // align-self: center;
    transform: translateY(1em);
    border: 2px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    p {
      padding: 0 60px;
      font-style: italic;
      font-size: 1rem;
      margin: 20px 0;
      &.about span {
        font-size: 0.5rem;
        // color: red;
        // display: none;
        &:hover {
          transition: 100ms ease-in;
          font-size: 1rem;
          // color: blue
        }
      }
    }
  }

  #img-container {
    border: 2px solid red;
    // align-self: center;
    position: relative;
    top: 1.5em;
    img {
    width: 12em;
    border-radius: 50%;
    }
  }
  }

  @media only screen and (max-width: 450px) {

  }

}