$offwhite: #fffafa;

#about {
  position: relative;
  height: 110vh;
  width: 100%;
  h2 {
    padding-top: 5rem !important
  }
  h4 {
    font-size: 0.8em;
    font-style: italic;
  }


  #about-container {
    // border: 2px solid yellow;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-3em, -2em);
  

  #about-content {
    // align-self: center;
    transform: translateY(1.5em);
    // border: 2px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    p {
      padding: 0 60px;
      font-size: 1rem;
      margin: 20px 0;
      &.about span {
        font-size: 0.5rem;
        // color: red;
        // display: none;
        &:hover {
          transition: 100ms ease-in;
          font-size: 1rem;
          // color: blue
        }
      }
    }
  }

  #img-container {
    position: relative;
    top: 1.5em;
    img {
    width: 12em;
    border-radius: 50%;
    }
  }
  }

  @media only screen and (max-width: 770px) {
    #about-container {
      flex-direction: column;
      transform: translateY(1em) !important;
    }
    #about-content {
      width: 100vw;
      flex-direction: row !important;
      transform: translateY(4em) !important;
      
      p {
        padding: 0.3em !important;
        margin: 0 !important;
      }
    }
    #img-container {
      transform: translateX(-3em);
    }
  }
}