body {
  background: linear-gradient(-45deg, #cce1f2, #c6f8e5, #fcf7d5, #f9ded7, #f5cdde, #e2bef1);
  background-size: 100% 990%;
  position: relative;
  // animation: change 40s ease-in-out infinite;
}

// @keyframes change {
//   0% {
//     background-position: 0 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0 50%;
//   }
// }

