$black: #252422;
$offwhite: #fffafa;

footer {
  position: relative;
  min-height: 110vh;
  width: 100%;
  ul  {
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style-type: none;
    svg {
      height: 2rem;
      width: 2rem;
      position: relative;
      top: 9px;
      left: -9px;
      &:hover {
        transition: 100ms ease-in;
        transform: scale(1.2);
      }
    }
    li {
      margin: 1rem;
    }
    a.main {
      color: $black;
    }
    &.about {
      padding-left: 1px;
    }
  }
}