$black: #252422;
$offwhite: #fffafa;
// $oswald: 'Oswald', sans-serif;
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Playfair Display', serif;

:root {
  font-size: 20px;
}

* {
  font-weight: 200;
  font-family: $sans-serif;
}

html {
  scroll-behavior: smooth;
}

#container {
  width: 100%;
  height: 100vh;
}

h2 {
  padding-top: 12rem;
  margin: 0;
  font-family: $serif;
  font-style: italic;
  font-size: 1.6em;
  letter-spacing: 2px;
}

body {
  color: $black; 
  margin: 0 10% 0 20%;
  padding: 0;
}

path {
  fill: $black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
}