$offwhite: #fffafa;
$serif: 'Playfair Display', serif;

header {
  position: relative;
  height: 110vh;
  width: 100%;
  // background-color: $offwhite;
    h1 {
      font-family: $serif;
      // font-family: 'Oswald', sans-serif;
      font-style: italic;
      font-size: 3em;
      font-weight: 600;
      letter-spacing: 6px;
      text-transform: uppercase;
      padding-top: 30vh;
      margin: 0;
    }
    p {
      padding-right: 3em;
      margin-left: 0.5em;
      font-style: italic;
      font-weight: 400;
    }
}