$black: #252422;
$offwhite: #fffafa;

#navbar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  z-index: 1;
  a {
    display: block;
    height: 30px;
    text-decoration: none;
    color: $offwhite;
    font-style: italic;
    background-color: $black;
    padding: 8px 15px;
    margin: 5px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    &:hover {
      transition: 100ms ease-in;
      text-align: center;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      transform: translateX(4px);
    }
  }
}
