$offwhite: #fffafa;
$black: #252422;

#skills {
  position: relative;
  min-height: 110vh;
  width: 100%;
  // background-color: $offwhite;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 4rem 0 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    width: 80px;
    margin: 15px 20px;
    text-align: center;
    font-weight: 200;
    font-style: italic;
  }
  svg {
    max-height: 3rem;
    max-width: 3rem;
  }
}