$offwhite: #fffafa;
$black: #252422;

#skills {
  position: relative;
  // min-height: 110vh;
  width: 100%;
  // background-color: $offwhite;
  h2 {
    padding-top: 4rem !important
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 4rem 0 0;
    padding: 0
  }
  li {
    list-style-type: none;
    width: 5em;
    margin: 15px 20px;
    text-align: center;
    font-weight: 200;
    // font-style: italic;
  }
  svg {
    max-height: 3rem;
    max-width: 3rem;
  }
  hr {
    border: 0;
    border-bottom: 1px dashed #b69f9f;
    margin: 3rem 8rem 3rem 4rem;
    &:last-of-type {
      // border-bottom: 1px dashed red;
      margin-bottom: 20em;
    }
  }
  .more-skills {
    // justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .more-skills li {
    // color: red;
    // display: inline-block;
    // width: 6rem;
    // height: 6rem;
    text-align: left;
    margin: 10px 20px 0 20px;
    box-sizing: border-box;
    // border: 1px solid red;
    // padding: 2em 0;
    // box-shadow: 1px 1px 15px 1px #b69f9f;
    // border-radius: 50%;
  }

  @media only screen and (max-width: 770px) {
    ul {
      margin: 1rem -3rem 0 0;
    }
    hr {
      margin: 3rem 4rem;
    }
    .more-skills li {
      // border: 2px solid red;
      margin: 10px 35px 0 20px;
    }
  }
}