:root {
  font-size: 20px;
}

* {
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#container {
  width: 100%;
  height: 100vh;
}

h2 {
  padding-top: 12rem;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.6em;
  letter-spacing: 2px;
}

body {
  color: #252422;
  margin: 0 10% 0 20%;
  padding: 0;
}

path {
  fill: #252422;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #252422;
}

@media only screen and (max-width: 750px) {
  body {
    background-size: 200% 1040% !important;
  }
  body #container {
    transform: translateX(10%);
    width: 100vw;
  }
}
@media only screen and (max-width: 530px) {
  body {
    background-size: 200% 1400% !important;
  }
  body #container {
    transform: translateX(25%);
    width: 100vw;
  }
}
#navbar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  z-index: 1;
}
#navbar a {
  display: block;
  height: 30px;
  text-decoration: none;
  color: #fffafa;
  font-style: italic;
  background-color: #252422;
  padding: 8px 15px;
  margin: 5px 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#navbar a:hover {
  transition: 100ms ease-in;
  text-align: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transform: scale(1.1) translateX(5px);
}

@media only screen and (max-width: 750px) {
  #navbar a {
    padding: 12px 8px;
    margin: 8px 0;
  }
}
@media only screen and (max-width: 530px) {
  #navbar a {
    padding: 15px 10px;
    margin: 10px 0;
  }
}
#home {
  position: relative;
  height: 110vh;
  transform: translateY(20%);
  width: 100%;
}
#home h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding-top: 30vh;
  margin: 0;
}
#home p {
  padding-right: 3em;
  margin-left: 0.5em;
  font-style: italic;
  font-weight: 400;
}

@media only screen and (max-width: 750px) {
  #home {
    padding-top: 0;
    margin-bottom: 20em;
    height: 100vh;
  }
  #home h1 {
    font-size: 2.3em;
  }
  #home p {
    font-size: 1.1em;
    padding-right: 0 !important;
  }
}
#skills {
  position: relative;
  width: 100%;
}
#skills h2 {
  padding-top: 4rem !important;
}
#skills ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 4rem 0 0;
  padding: 0;
}
#skills li {
  list-style-type: none;
  width: 5em;
  margin: 15px 20px;
  text-align: center;
  font-weight: 200;
}
#skills svg {
  max-height: 3rem;
  max-width: 3rem;
}
#skills hr {
  border: 0;
  border-bottom: 1px dashed #b69f9f;
  margin: 3rem 8rem 3rem 4rem;
}
#skills hr:last-of-type {
  margin-bottom: 20em;
}
#skills .more-skills1, #skills .more-skills2 {
  align-items: center;
}
@media only screen and (max-width: 770px) {
  #skills ul {
    margin: 1rem -3rem 0 -1rem;
  }
  #skills hr {
    margin: 3rem 4rem;
  }
  #skills .more-skills li {
    margin: 10px 70px 5px 20px;
  }
}

#work {
  position: relative;
  width: 100%;
}
#work h2 {
  padding-top: 4rem !important;
}
#work #work-grid-container .grid-item {
  padding: 2em;
  margin: 8em 1em;
  background-color: #fffafa;
  box-sizing: border-box;
  box-shadow: 1px 1px 15px 1px #b69f9f;
  border-radius: 1em;
}
#work #work-grid-container .grid-item .content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#work #work-grid-container .grid-item h3 {
  margin: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
}
#work #work-grid-container .grid-item hr {
  border: 0;
  border-bottom: 1px dashed #b69f9f;
  margin: 2em 30% 0 30%;
}
#work #work-grid-container .grid-item video {
  height: 15em;
  border-radius: 23px;
  margin: 2em;
}
#work #work-grid-container .grid-item p {
  margin: 2em;
  font-style: italic;
  font-weight: 400;
}
#work #work-grid-container .grid-item p svg {
  height: 1.5em;
  position: relative;
  top: 0.4em;
  left: -0.2em;
}
#work #work-grid-container .grid-item p.plntify {
  position: relative;
  left: -3.4em;
  margin-right: 0;
}
#work #work-grid-container .grid-item:first-child {
  margin-top: 3em;
}
#work #work-grid-container .grid-item:last-child {
  margin-bottom: 20em;
}
#work #work-grid-container .link:hover {
  transition: 100ms ease-in;
  transform: scale(1.2);
}
@media only screen and (max-width: 770px) {
  #work .grid-item {
    height: 500px;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #work .grid-item h3 {
    transform: translateY(1em);
  }
  #work .grid-item video, #work .grid-item hr {
    display: none;
  }
  #work .grid-item:nth-last-of-type(1) h3 {
    transform: translateY(2em);
  }
  #work .grid-item:nth-last-of-type(1) .content {
    transform: translateY(2em);
    padding: 1em;
  }
  #work .grid-item:nth-last-of-type(2) h3 {
    transform: translateY(2em);
  }
  #work .grid-item:nth-last-of-type(2) .content {
    transform: translateY(2em);
    padding: 1em;
  }
}

#about {
  position: relative;
  height: 110vh;
  width: 100%;
}
#about h2 {
  padding-top: 5rem !important;
}
#about h4 {
  font-size: 0.8em;
  font-style: italic;
}
#about #about-container {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-3em, -2em);
}
#about #about-container #about-content {
  transform: translateY(1.5em);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#about #about-container #about-content p {
  padding: 0 60px;
  font-size: 1rem;
  margin: 20px 0;
}
#about #about-container #about-content p.about span {
  font-size: 0.5rem;
}
#about #about-container #about-content p.about span:hover {
  transition: 100ms ease-in;
  font-size: 1rem;
}
#about #about-container #img-container {
  position: relative;
  top: 1.5em;
}
#about #about-container #img-container img {
  width: 12em;
  border-radius: 50%;
}
@media only screen and (max-width: 770px) {
  #about #about-container {
    flex-direction: column;
    transform: translateY(1em) !important;
  }
  #about #about-content {
    width: 100vw;
    flex-direction: row !important;
    transform: translateY(4em) !important;
  }
  #about #about-content p {
    padding: 0.3em !important;
    margin: 0 !important;
  }
  #about #img-container {
    transform: translateX(-3em);
  }
}

footer {
  position: relative;
  height: 110vh;
  width: 100%;
}
footer ul {
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
}
footer ul svg {
  height: 2rem;
  width: 2rem;
  position: relative;
  top: 9px;
  left: -9px;
}
footer ul svg:hover {
  transition: 100ms ease-in;
  transform: scale(1.2);
}
footer ul li {
  margin: 1rem;
  height: 2rem;
}
footer ul a.main {
  color: #252422;
}
footer ul a.main:hover {
  transition: 100ms ease-in;
  font-size: 1.1em;
}
footer ul.about {
  padding-left: 1px;
}

@media only screen and (max-width: 770px) {
  #contact {
    transform: translateY(16em);
    height: 100vh;
    margin-bottom: 12em;
  }
  #contact h2 {
    margin-top: 2em;
  }
}
body {
  background: linear-gradient(-45deg, #cce1f2, #c6f8e5, #fcf7d5, #f9ded7, #f5cdde, #e2bef1);
  background-size: 100% 996%;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
